<!DOCTYPE html>
<head>
    <title> 
        make_summary
    </title>
<body>
    <div>
        <h1>요약할 텍스트를 넣어주세요!</h1>
        <form method="post" action="http://localhost:5000/makeSummary" enctype="multipart/form-data">
            <textarea rows="10", cols="80" name="text"></textarea>
            <p>
                <input type = "submit" value="요약하기">
            </p>
        </form>
        {% if summary %}
        <h2>요약 결과</h2>
            <div>
                <p>{{summary}}</p>
            </div>
        {% endif %}
        
    </div>
</body>
</head>